*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

body{
    font-family: monospace;
    background: #000;
}

div h2{
    color: #e1ff38;
    text-shadow: 0 0 9px #e1ff38;
}

div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

div p{
    color: #fff;
}

ul li a{
    color: #e1ff38;
    text-shadow: 0 0 7px #e1ff38;
}

.card{
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    max-width: 1200px;
    min-height: 100vh;

    display: flex;
}

.card_content{
    margin: 0 auto;
}

.card_picture{
    margin: 0 auto;
}

.card_img{
    width: 100%;
}

.img{
    width: 100%;
}

/* Animacion del span */

span{
    color: #fff;
    text-shadow: 0 0 10px #fff;
    font-size: 25px;
   
}
